{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="post">
  <h1><a href="{% url 'post_detail' id=post.id %}">{{ post.title }}</a></h1>
  <p>{{ post.text|linebreaksbr }}</p>
  <p>{{ post.author }}</p>
  <div class="date">
    <p>published: {{ post.published_date }}</p>
  </div>
  <img
    src="{{ post.image.url }}"
    class="intruder-image-list"
    alt="{{ post.title }}"
    style="max-width: 1000px; width: 100%; height: auto; margin: 0 auto"
  />
</div>
{% endfor %} {% endblock content %}
